@import '../../styles/variables.scss';

.multi-search {
  padding: 50px;
  box-sizing: border-box;
  > p {
    text-align: left;
    margin-left: 20%;
    margin-bottom: 10px;
  }
  .multi-search-container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid $color-grey;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;

    
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      >button {
        background-color: $color-black;
        height: 30px;
      }
      > button[disabled] {
        background-color: $color-lightGrey;
        border: 1px solid $color-black;

      }
    }
    .empty-search-list {
      text-align: center;
      padding: 10px;
      p {
        margin-bottom: 10px;
      }
      button {
        background-color: $color-black;
        height: 30px;
      }
    }
    .result-item {
      @media (max-width: 576px) {
        flex-direction: column;
      }
    }
  }
  @media (max-width: 576px) {
    padding: 30px 20px;
  }
}
