@import "../../styles/variables.scss";
.header {
    background-color: $color-black;
    color: $color-white;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: space-between;
    
    .left-part{
        display: flex;
        align-items: center;
        

        button svg {
            height: 45px;
            width: 45px;
            color: $color-white;
        }
    }

    .right-part {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            padding-left: 0;
        }
        .iconWrapper{
            display: flex;
            button  {
                padding: 0;
                .icon {            
                    height: 40px;
                    width: 40px; 
                    color: $color-white;      
                    padding: 0; 
                }
            }
        }
        
    }
}